{% extends "layout.html" %}
{% block content %}
   <div class="about text-white/80">
     <h1>Our Story</h1>
     <br />
     <div class="text-center flex flex-auto">
      <p>Founded in 1945 in the small village of Hope, BC by recently returned war veterans Mom Mom and Pops Mom, we at Mom & Pops Flag Shop have since strived to carry out our mission: <br /> <br /><i>Bring the joy of flags to all in our community: from Hope to the World.</i></p>
      <figure>
        <img style="background-color:transparent" src="../static/img/mom_pop.jpg">
        <figcaption>Mom and Pops (2022)</figcaption>
      </figure>
      <p></p>
     </div>
     <div>
       <h3 class="text-white/80">A History of Mom & Pops</h3>
       </br>
       <dl>
         <dt>December 1945:</dt>
          <dd>First Flag Shop opens in Hope, BC</dd>
         <br />
         <dt>May 2021:</dt>
          <dd>Our second location opens in Vancouver, BC</dd>
       </dl>

     </div>
    </div>
 {% endblock %}
