{% extends "layout.html" %}
{% block content %}
   <div class="about">
     <h1>Products</h1>     

     <div class="flex flex-wrap justify-center gap-1">
        
      <div class="
        bg-orange-200 hover:bg-orange-300 active:bg-orange-600
        rounded-lg opacity-95 hover:opacity-100
        ">
          <div>
            <img class="object-contain h-48 w-48" style="background-color:transparent" src="../static/img/GreenFlag.png">
          </div>
          <div>
            Flag Name
          </div>
          <div>
            Flag Description
          </div>
          <div>
            Flag Cost
          </div>
     </div>
     <div class="
        bg-orange-200 hover:bg-orange-300 active:bg-orange-600
        rounded-lg opacity-95 hover:opacity-100
        ">
          <div>
            <img class="object-contain h-48 w-48" style="background-color: transparent" src="../static/img/GreenFlag.png">
          </div>
          <div>
            Flag Name
          </div>
          <div>
            Flag Description
          </div>
          <div>
            Flag Cost
          </div>
        </div>
     </div>

   </div>
 {% endblock %}